.folder-link{cursor:pointer;}
.label-check{text-align:left !important;}
.im-icon {cursor:pointer;display:inline-block;padding:5px 12px;}.icon-display-date {background-image: url('../img/btnnew/crystal/im_date.png');}
.icon-display {background-image: url('../img/btnnew/crystal/im_display.png');}.icon-sort {background-image: url('../img/btnnew/crystal/im_sort.png');}
.icon-upload {background-image: url('../img/btnnew/crystal/im_upload.png');}.icon-copy {background-image: url('../img/btnnew/crystal/im_copy.png');}
.icon-remove {background-image: url('../img/btnnew/crystal/im_delete.png');}.icon-rename {background-image: url('../img/btnnew/crystal/im_rename.png');}
.icon-display-resolution {background-image: url('../img/btnnew/crystal/im_resolution.png');}.icon-display-size {background-image: url('../img/btnnew/crystal/im_size.png');}
.icon-pagination-first {background-image: url('../img/btnnew/crystal/im_pagination_first.png');}.icon-pagination-prev {background-image: url('../img/btnnew/crystal/im_pagination_prev.png');}
.icon-pagination-next {background-image: url('../img/btnnew/crystal/im_pagination_next.png');}.icon-pagination-last {background-image: url('../img/btnnew/crystal/im_pagination_last.png');}
.icon-file {background-image: url('../img/btnnew/crystal/im_file.png');}.icon-selected {background-image: url('../img/btnnew/crystal/im_selected.png');}
.images-container{border: 1px solid lightgray;background:white;}
.td-body-container{margin-left:10px;position: fixed;height: 100%; width:calc(100% - 319px); width:-moz-calc(100% - 319px);width:-webkit-calc(100% - 319px); padding-right: 30px;}
.button-separator{display:inline;padding:4px 12px 4px 16px;margin-right: 5px;background-repeat: no-repeat;}
.icon-bar{position: relative;top: 7px;/*margin:0px 10px 0px 2px;*/padding:12px;}
.icon-bar:hover{background-color: lightblue;border-radius: 24px;}
.help-bar{cursor:default;display:inline-block;position: relative;bottom: 5px;}
#sort-menu:hover .dropdown-toggle {color: #333;background-color: #ebebeb;border-color: #adadad; outline: 0;background-image: none;-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);box-shadow: inset 0 3px 5px rgba(0,0,0,.125);}
#sort-menu:hover .dropdown-menu { display:block;top:93%; }
.pagination-help-bar{font-weight:bold;background: #598db5; height: 30px; text-align: right; color:white;padding-top: 2px;margin-top:8px;}
.im-button{padding: 2px 4px 4px 2px !important;margin-top: 5;border: 1px solid darkgray;}
.grid > li.file:hover .box, .grid > li.file:hover .img-container{background-color:ivory}
.input-filter {border: 1px solid #ccc;border-radius:4px;height:30px;padding:6px 12px;margin:5px !important;}
.filter-clear { border-top-right-radius: 0px !important; border-bottom-right-radius: 0px !important; }
.camouflage {padding:15px;border:0px;pointer-events:none;background:white;}
#search-input:focus { outline: none;}
.ui-tabs .ui-tabs-nav li a { padding: 5px 5px !important;}
.menu-nav-opener{display:none;cursor:pointer;position:relative;bottom:100px;left:333px;background:transparent;}
.td-modal-window{top:-10px;position:absolute;transition: 1s;z-index:1010;border:1px solid #C3C3C3; border-radius:7px;}
#td_ifOpenList {width:calc(100% - 340px); width:-moz-calc(100% - 340px);width:-webkit-calc(100% - 340px);}
.modal-loading {background-color: #FFF;z-index: 999;cursor: wait;opacity: 0.75;position: absolute;width: calc(100% - 32px);height: calc(100% - 45px);}
.loader-img {display: block;width: 90px;margin-left: auto;margin-right: auto;position: relative;top: 20%;}
.modal-content.alert > .modal-header, .modal-content.alert > .modal-footer{ border:none !important; }
.modal-content.alert > .modal-body{ display:none !important; }