// bootstrap
@import "../../../components/bootstrap/scss/bootstrap";

// colors
$color-steel: #3E5062;

::-webkit-input-placeholder {
	color: #157EFB;
}

:-moz-placeholder { /* Firefox 18- */
	color: #157EFB;  
}

::-moz-placeholder {  /* Firefox 19+ */
	color: #157EFB;  
}

:-ms-input-placeholder {  
	color: #157EFB;  
}

html,
body {
	height: 100%;
}

body {
	font-family: "Open Sans";
	background: #F9F9F9;
}

h1,
h2,
h3, {
	color: black;
}

h1 {
	margin: 50px 0;
	color: $color-steel;
}

h2 {
	margin: 60px 0 20px;
}

h3 {
	font-size: 1.2em;
	margin: 35px 0 15px;
}

h4 {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: rgba($color-steel,.7);
	letter-spacing: 2px;
	margin-bottom: 20px;
}

h5 {
	font-size: 1em;
}

h6 {
	font-size: .8em;
	font-weight: normal;
	margin: 0;
}

p {
	color: #4d4d4d;
}

.page {
	height: 100%;
}

.breadcrumb {
	margin: 0;

	.breadcrumb-item + .breadcrumb-item {
		&:before {
			content: "\203A";
			color: rgba($color-steel,.5);
			font-weight: normal;
		}
	}

	.breadcrumb-item,
	.breadcrumb-item a {
		text-transform: uppercase;
		font-size: 13px;
		color: rgba($color-steel,.5);
	}

	.breadcrumb-item {
		&:last-child {
			color: $color-steel;
			font-weight: bold;
		}
	}
}

.header {
	padding: 20px;
	height: 65px;

	.logo {
		margin-left: 5px;
	}

	.breadcrumb {
		padding: 3px 0;
		background: none;
		border-radius: none;
	}
}

.sidebar {
	background: $color-steel;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 300px;
	z-index: 9999;
	transition: all .35s;

	.header,
	.nav .header {
		background: darken($color-steel,5%);
	}

	@include media-breakpoint-down(md) {
		width: 100%;
		left: -100%;
		
		.header {
			position: fixed;
			width: 100%;
			top: 0;
			left: 0;
		}

		.toggler {
			height: 26px;
			width: 30px;
			float: left;
			margin-right: 15px;
			margin-top: 2px;
			cursor: pointer;
			transition: all .3s;
		}

		.toggler > span {
			height: 2px;
			width: 100%;
			display: block;
			margin: 5px 0;
			background: #5381C6;
			transition: all .3s;
		}

		.toggler:hover {
			transform: scale(1.1, 1.1);
		}

		.nav {
			z-index: 99999;
			width: 100%;
			margin-top: 65px;
		}
	}

	&.open {
		left: 0;
		top: 0;

		.toggler span:nth-child(2) {
			opacity: 0;
		}

		.toggler span:first-child {
			transform: rotate(-45deg) translate(-5px, 6px);
		}

		.toggler span:last-child {
			transform: rotate(45deg) translate(-4px, -5px);
		}
	}

	& + .content {
		@include media-breakpoint-up(lg) {
			margin-left: 300px;
		}
	}

	.nav {
		overflow-x: hidden;
		overflow-y: auto;
		height: calc(100% - 105px);

		ul,
		ul li {
			margin: 0;
			padding: 0;
			list-style: none;
			width: 100%;
		}

		ul li a {
			&:hover,
			&:active,
			&:visited,
			&:link {
				text-decoration: none;
			}
		}

		> ul > li {
			border-bottom: 1px solid darken($color-steel,5%);
		}
		
		> ul > li > a {
			font-size: 17px;
			padding: 15px 20px;
			display: block;
			font-weight: 600;
			color: white;

			&:hover {
				background: darken($color-steel,1%);
			}
		}

		> ul > li > ul {
			display: none;
		}

		> ul > li > ul > li {
			margin-bottom: 10px;
		}

		> ul > li > ul > li > a {
			font-size: 13px;
			color: rgba(white,.65);
			padding: 4px 20px;
			font-weight: bold;
		}

		> ul > li > ul > li > a:hover {
			color: white;
		}

		> ul > li > ul > li > ul {
			display: none;
		}

		> ul > li > ul > li > ul li {
			border-left: 1px solid rgba(white,.1);
			margin-left: 21px;
			margin-bottom: 2px;
			line-height: 18px;
		}

		> ul > li > ul > li > ul li a {
			font-size: 12px;
			padding: 0px 15px;
			color: rgba(white,.65);

			&:hover {
				color: white;
			}
		}

		li.open > ul {
			display: block;
		}

		.search {
			position: absolute;
			width: 100%;
			bottom: 0;
			left: 0;
			background: $color-steel;
		}

		.search input {
			border: none;
			border-top: 2px solid darken($color-steel,5%);
			background: transparent;
			padding: 10px;
			width: 100%;
			color: white;
			transition: all .2s;
			font-size: 13px;
		}

		.search input:focus {
			outline: none;
			padding: 15px 10px;
			background: darken($color-steel,5%)
		}

		.search input:focus + .icon {
			top: 14px;
		}

		.search .icon {
			text-align: center;
			position: absolute;
			right: 10px;
			top: 10px;
			transition: all .2s;
		}

		.search .icon svg {
			width: 24px;
			height: 24px;
		}
	}
}

.content {
	position: relative;

	.header {
		background: white;
	}

	.subnav {
		position: relative;
		top: 220px;

		li {
			margin-top: 0!important;
			margin-bottom: 1px;
			border-left: 3px solid #0070FF;
		}

		li:first-child {
			border-color: $color-steel;
			color: $color-steel;
		}

		li strong {
			display: block;
			padding: 12px;
		}

		li a {
			font-size: 12px;
			color: #0070FF;
		}

		li a.active {
			background-color: #0070FF;
			border-radius: 0;
			color: white;
		}
	}

	article {
		margin: 100px auto -35px;
	}

	article p {
		margin: 0 0 29px 0;
		font-size: 17px;
		font-weight: 400;
		line-height: 1.8;
	}

	article a {
		color: #0070FF;
		display: inline-block;
		border-bottom: 1px solid transparent;

		&:hover {
			border-color: #0070FF;
			text-decoration: none;
		}
	}

	article img {
		// margin: 0 0 29px 0;
		max-width: 100%;
		max-height: auto;
	}

	article blockquote {
		border-left: 3px solid #ddd;
		padding-left: 15px;
		color: #777;
	}

	article ul li {
		margin-bottom: 10px;
	}

	article .image {
		text-align: center;

		em {
			display: block;
			opacity: .5;
			font-weight: bold;
			font-size: 13px;
			margin-top: 10px;
		}
	}

	article code {
		background-color: #eee;
	}

	article pre {
		border: 1px solid #eee;
		border-radius: 5px;
		background: rgba(black,.02);
		padding: 10px;

		code {
			background: none;
		}

		.header {
			content: "";
			display: block;
			height: 30px;
			padding: 5px;
			background: #eee;
			margin: -10px;
			margin-bottom: 10px;
		}

		.header i {
			width: 9px;
			height: 9px;
			display: inline-block;
			background: #ddd;
			margin-left: 3px;
			border-radius: 50%;
		}
	}

	article h2,
	article h3,
	article h4 {
		position: relative;
		padding-left: 30px;
		margin-left: -30px;

		a.anchor {
			position: absolute;
			top: 50%;
			left: 15px;
			transform: translate(-50%, -60%);
			opacity: 0;
			transition: opacity .2s;
		}

		a.anchor img {
			width: 16px;
			fill: #0070FF;
		}

		&:hover a.anchor {
			opacity: 1;
		}
	}
	
	.useful	{
		background: #F9F9F9;
		padding: 80px 0 40px;

		.feedback {
			margin-bottom: 50px;
			border: 1px solid rgba($color-steel,.1);
			border-radius: 3px;
			text-align: center;
			padding: 25px;
		}
	}

	.related {
		background: white;
		padding: 50px 0;
		text-align: center;

		.item {
			margin: 5px 0;
		}

		.item a {
			display: block;
			border: 1px solid rgba($color-steel,.1);
			border-radius: 3px;
			padding: 20px;
			font-weight: bold;
			transition: all .2s;
			color: #0070FF;
		}

		.item a:hover {
			background: #f5f5f5;
			text-decoration: none;
		}
	}

	

	@include media-breakpoint-down(md) {
		header {
			margin-top: 64px;
			padding: 10px 0;
			height: 46px;
		}

		article {
			margin-top: 0;
		}
	}
}

.home {
	.header {
		border-bottom: 1px solid #2C4960;
		background: rgba(#2C4960,.25);
		position: relative;
		z-index: 9999999;
	}
}

.hero {
	background: url("../../images/pattern.png") $color-steel;
	padding: 100px 0;
	margin-top: -65px;

	h1,
	p {
		color: white;
	}

	.btn {
		margin-top: 30px;
		border-color: white;
		border-radius: 3px;
		color: white;

		&:hover,
		&:active {
			outline: none;
			box-shadow: none;
			background: white;
			color: black;
		}
	}
}

.highlights {
	margin-top: 50px;
	margin-bottom: 50px;

	.item {
		border-radius: 3px;
		border: 1px solid rgba($color-steel,.1);
		text-align: center;
		padding: 20px;

		img {
			width: 64px;
			margin-bottom: 20px;
		}
	}
}

.links {
	ul {
		border-bottom: 1px solid rgba($color-steel,.1);
		margin: 0;
		padding: 0;
		padding-bottom: 40px;
		-webkit-column-count: 3;
		-moz-column-count: 3;
		column-count: 3;

		@include media-breakpoint-down(lg) {
			-webkit-column-count: 2;
			-moz-column-count: 2;
			column-count: 2;
		}

		li {
			list-style: none;
			padding-left: 15px;
			display: block;
			position: relative;
			margin-bottom: 10px;
		}

		li:before {
			content: "\203A";
			font-size: 20px;
			position: absolute;
			left: 0px;
			top: -4px;
		}
	}
}

.scrolltop {
	position: fixed;
	bottom: 15px;
	right: 15px;
	z-index: 9999;
	border-radius: 3px;
	background: #eee;
	padding: 7px 0;
	text-align: center;
	height: 40px;
	width: 40px;
	opacity: 0;
	transition: all .2s;

	&.visible {
		opacity: 1;
	}
}














































































/*
.sidebar {
	background: $color-steel;
	overflow: hidden;
	display: table-cell;
	width: 300px;
	float: left;
	height: 100%;
	position: relative;

	nav {
		height: 100%;
	}

	nav > ul {
		overflow-y: auto;
		height: 100%;
	}

	nav ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	nav ul li a {
		color: white;
	}

	nav > ul > li {
		border-bottom: 1px solid darken($color-steel,5%);

		&.active > a {
			padding-bottom: 10px;
		}

		&.active > a:hover {
			background: $color-steel;
			cursor: default;
		}

		&.active > ul {
			display: block;
		}
	}

	nav > ul > li > ul {
		margin-bottom: 20px;
		display: none;
	}

	nav > ul > li > a {
		font-size: 17px;
		padding: 15px 20px;
		display: block;
		font-weight: 600;

		&:hover {
			background: darken($color-steel,1%);
			text-decoration: none;
		}

		&:active,
		&:visited,
		&:link {
			text-decoration: none;
		}
	}

	nav > ul > li > ul > li > a {
		font-size: 14px;
		display: block;
		padding: 5px 20px;
		opacity: .6;
		transition: all .2s;
		font-weight: 500;

		&:hover {
			opacity: 1;
			text-decoration: none;
		}
	}

	nav > ul > li > ul > li.active > a {
		background: rgba(black,.1);
		opacity: 1;
	}

	nav > ul > li > ul > li > ul {
		margin-bottom: 10px;
		padding: 5px 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	nav > ul > li > ul > li > ul {
		display: none;
	}

	nav > ul > li > ul > li > ul li a {
		font-size: 13px;
		color: white;
	}

	.copyright {
		border-top: 1px solid darken($color-steel,5%);
		font-size: 11px;
		color: white;
		padding-top: 10px;
		position: absolute;
		bottom: 0;
		height: 40px;
		width: 100%;
		color: rgba(white,.5);
	}
}
*/

// .nav {
		// overflow-y: auto;
		// height: calc(100% - 65px);

		// position: fixed;
		// top: 0;
		// left: 0;
		// height: 100%;
		// z-index: 9999;
		// width: 100%;
		// background: $color-steel;
		// overflow-y: auto;
		// transition: all .3s;
		// background: $color-steel;

		// top: 0;
		// bottom: 0;
		// left: 0;
		// padding: 0;
		// overflow-x: hidden;
		// overflow-y: auto;
		
		// @include media-breakpoint-up(lg) {
			// background: $color-steel;
			// position: fixed;
			// width: 300px;
			// top: 0;
			// bottom: 0;
			// left: 0;
			// padding: 0;
			// overflow-x: hidden;
			// overflow-y: auto;
			
			// .toggler {
			// 	display: none;
			// }

			// .nav {
			// 	left: 0;
			// 	width: 300px;
			// }
		// }
	// }

	// .header {
	// 	background: darken($color-steel,5%);
	// 	padding-left: 20px;
	// 	padding-right: 20px;
	// 	width: 100%;
	// 	position: fixed;
	// 	top: 0;
	// 	left: 0;

	// 	.toggler {
	// 		height: 26px;
	// 		width: 30px;
	// 		float: left;
	// 		margin-right: 15px;
	// 		margin-top: 2px;
	// 	}

	// 	.toggler > span {
	// 		height: 2px;
	// 		width: 100%;
	// 		display: block;
	// 		margin: 5px 0;
	// 		background: #FFD532;
	// 	}
	// }
// }